body{
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

.container{
	text-align: center;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input{
	padding: 10px;
	font-size: 16px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: calc(100% - 22px); /*Adjust width considering padding and border*/
}

button{
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s;
}

button:hover{
	background-color: #ddd;
}

#result{
	margin-top: 20px;
	font-size: 18px;
}